@import url(home.css);

.titulo{

    backdrop-filter: blur(30px);
    text-align: center;
    border-radius: 30px;
    font-size: 50px;
    font-weight: bold;
}
div#form_fundo{
    margin: 2% 50% 5% 5%;
    position: absolute;
}
div#form_fundo.listaUsuarios{
    margin: 1% 5% 5% 51%;
    position: relative;
}
div#form_frente.listaUsuarios{
    text-align: left;
    font-weight: bold;
    font-size: 20;
    color: blue;
}





