<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/administrador.css">
</head>

<body>
    {% set mensagem = get_flashed_messages() %}
    {% if mensagem %}
    <div class="flash_alerta">
        {{mensagem[0]}}

    </div>
    {% endif %}
    <h1 class="titulo">Administrador</h1>

    <div id="form_fundo">
        <h1>CADASTRAR USUÁRIO</h1>
        <h1>@Liberty</h1>
        <div id="form_frente">
            <form action="/cadastrarUsuario" id="login" method="post">
                <label for="nome">HOME</label>
                <input type="text" name="nome" id="nome" required placeholder="Nome que será cadastrado"><br><br>
                <label for="senha" id="senha">SENHA</label>
                <input type="text" name="senha" id="senha" placeholder="Informe a senha "><br><br>
                <button type="submit" id="btn-login">

                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>CADASTRAR

                </button>
            </form>
        </div>
    </div>
    <div id="form_fundo" class="listaUsuarios">
        <h1>USUÁRIOS CADASTRADOS</h1>
        <h1>@Liberty</h1>
        <div id="form_frente" class="listaUsuarios">
            {% if usuarios %}
            {% for c in usuarios %}
            <form action="/excluirUsuario" method="post">
                <ul>
                    <input type="hidden" name="usuarioPexcluir" value="{{c}}">
                    <li>NOME: {{c['nome']}}</li>
                    <li>SENHA: {{c['senha']}}</li>

                </ul>
                <button type="submit" id="btn-esc-usuario">EXCLUIR</button>
                
            </form>
            __________________________________________________
            {% endfor %}

            {% else %}
            <h1>Não existe usuários cadastrados! </h1>
            {% endif %}
        </div>
     </div>



     <div id="form_fundo" class="upload">
        <h1>ENVIAR ARQUIVOS</h1>
        <div id="form_frente" class="upload">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="documento" id="documento"><br><br><br>
                <button type="submit">ENVIAR</button>
            </form>

        </div>
     </div>
</body>

</html>